@model IEnumerable<CRUDAppAMAIS.Models.Student>

@{
    ViewData["Title"] = "EdTech - Institution";
}
@if(TempData["Sweet"] != null)
{
    @section Scripts{
        <script>
            $(function () {
                swal({
                    title: "Success",
                    text: "Registration has been successfully",
                    type: 'success',
                    icon: 'success',
                    showCancelButton: false,
                    allowOutsideClick: false,
                    confirmButtonColor: "green",
                    confirmButtonText: "Ok"
                }).then(function() {

                });
            })
            </script>
    }
}
<h1>EdTech - Institution</h1>

<p>
    <a asp-action="Create">Create New Studant</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.RA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RA">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RA">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RA">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
